<head>
</head>

<body>
</body>

<template name="layout">
  {{> loginButtons}}
  {{#each groupRoutes}}
    <a href="{{path}}">{{name}}</a>
  {{/each}}
  {{> Template.dynamic template=template}}
</template>

<template name="home">
  <h1>This is a homepage</h1>
</template>

<template name="public">
  <h1>This is a public page</h1>
</template>

<template name="Picam">
  <h1>Picam</h1>
  {{> table}}

  {{> video}}
</template>

<template name="Slides">
  <h1>Slides</h1>
  {{> table}}
  <iframe src="https://docs.google.com/presentation/d/11NDZNoUQHrqgAskUocP4n1MaAy5MtI_M8c5RcisvaCU/embed?start=false&loop=false&delayms=30000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</template>

<template name="table">
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each testDocs}}
        <tr>
          <td>{{type}}</td>
          <td>{{name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="video">
<video autoplay="true" id="videoElement">
  <source src="videoElement">
</video>
</template>
